body {
    background-image: url('../images/umb1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
}


.navbar-brand{
    display: block;
    width: 100px;
    height: 80px;
    background-image: url('../images/umb.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
}

footer{
    background-color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: relative;
    font-size: 15px;
    bottom: 0;
    margin-top: auto;
    color: black;
    font-weight: bolder;
}

html, body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#titulo_admin{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    margin-top: 140px;
    margin-bottom:20px;
}

#foto_egresado{
    width: 100px;
    height: 100px;
    border: 50%;
}

#previewegr{
    max-width: 80px;
    height: auto;
    border: 2px solid greenyellow;
    border-radius: 40%;
}
#actualizable {
    padding-top: 90px;
}
/* Sidebar colapsable */
.sidebar {
    width: 260px;
    transition: all 0.3s ease;
}

.dashboard.collapsed .sidebar {
    width: 0;
    padding: 0;
    overflow: hidden;
}

/* El contenido se expande */
.dashboard.collapsed .main-content {
    margin-left: 0;
}

/* Ajuste visual */
.dashboard.collapsed .menu li i {
    margin-right: 0;
}
